* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 320px;
    min-height: 100vh;
    font-family: sans-serif;
}

[aria-hidden='true'] {
    display: none;
}

button {
    -webkit-appearance: none;
    border-radius: 0;
    text-align: inherit;
    background: none;
    box-shadow: none;
    padding: 0;
    cursor: pointer;
    border: none;
    color: inherit;
    font: inherit;
}

#successMessage,
#error {
    position: absolute;
    border: solid 2px black;
    color: white;
    padding: 1rem 2rem;
}

#successMessage {
    background: darkgreen;
    z-index: 100;
}

#error {
    background: darkred;
    z-index: 1000;
}
